@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .nav-list {
    @apply font-extrabold
        lg:p-4
        py-3
        px-0
        block
        transition-all
        duration-200
        hover:text-red-300;
  }

  .wrapper {
    @apply container mx-auto flex flex-col justify-center items-center;
  }

  .wrapper-res {
    @apply container mx-auto flex flex-col lg:flex-row items-center lg:space-x-10 space-y-10 lg:space-y-0 my-20;
  }

  .text-default {
    @apply text-white text-center text-lg font-extrabold md:text-lg lg:text-xl xl:text-2xl mt-6;
  }

  .img-default {
    @apply cursor-pointer mx-auto border-white border-2 hover:-translate-y-2 transition transform duration-200 w-64 lg:w-full;
  }

  .icon-bg {
    @apply container mx-auto bg-darkerblue border-darkerblue rounded-2xl border-2 w-40 md:w-60;
  }

  .icon-default {
    @apply my-0 text-white text-center text-lg font-extrabold md:text-lg lg:text-xl xl:text-2xl;
  }

  .icon-img {
    @apply w-20  md:w-32 mx-auto items-center mb-6 my-6 transform transition hover:-translate-y-4 cursor-pointer;
  }

  .wrapper-maps {
    @apply container mx-auto grid grid-cols-1 lg:grid-cols-2;
  }

  .footer-icon {
    @apply md:w-12 md:h-12 w-9 h-9 md:mx-2 hover:-translate-y-2 transform transition duration-200;
  }

  .hero-image {
    @apply animate-pulse mb-20 lg:mb-40 shadow-new;
  }

  #particles-js {
    @apply h-full w-full inset-0 absolute -z-1;
  }
}

.hero-image {
  border-radius: 1.5rem;
}

/* ---- particles.js container ---- */
